/* Master styles */
body {
  font-family: "Lato",sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side{
  display: flex;
}

.nav-wrapper > .left-side > div{
  margin-right: 20px;
  font-size: 1em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link{
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/* portfolio styles */
/* the part of webpage showing skills */
.portfolio-items-wrapper{
  display: grid;
  padding-left: 100px;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

/* changes the background image */
.portfolio-img-background {
  height: 200px;
  width: 300px;
  background-size: 100%; /* or can use 'contain'*/
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: justify;
  /*padding-left: 100px;*/
  /*padding-right: 100px;*/
}

/* changes how the text displays on the background image */
.img-text-wrapper .subtitle{
  transition: 0s;
  color: transparent;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 190px; /* changes padding on text on image */
}

/* what happens when hovering over background image */
.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}

/* make the background image dark */
.img-darken {
  transition: 0.6s;
  filter: brightness(10%);
}

/* Projects style */
.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* control the project images */
.project-image-wrapper img{
  height: 300px;
  width:auto;
  padding-left: 100px;
}

/* control text of project description */
.project-description-wrapper {

}
